<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springboot.blog.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="cn.springboot.blog.entity.Topic">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="t_topic" jdbcType="VARCHAR" property="tTopic" />
    <result column="t_date" jdbcType="TIMESTAMP" property="tDate" />
    <result column="t_uid" jdbcType="INTEGER" property="tUid" />
    <result column="t_partake" jdbcType="INTEGER" property="tPartake" />
    <result column="t_visit" jdbcType="BIGINT" property="tVisit" />
    <result column="t_content" jdbcType="LONGVARCHAR" property="tContent" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, t_topic, t_date, t_uid, t_partake, t_visit,t_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic
    where t_topic like '%${key}%'
    order by t_partake desc
    limit #{start},#{limit}
  </select>
  <select id="selectOneByTTopic" resultType="java.lang.Integer">
    select tid from topic where t_topic = #{topic}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.springboot.blog.entity.Topic">
    insert into topic (tid, t_topic, t_date, 
      t_uid, t_partake, t_visit
      )
    values (#{tid,jdbcType=INTEGER}, #{tTopic,jdbcType=VARCHAR}, #{tDate,jdbcType=TIMESTAMP}, 
      #{tUid,jdbcType=INTEGER}, #{tPartake,jdbcType=INTEGER}, #{tVisit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.springboot.blog.entity.Topic"  useGeneratedKeys="true" keyProperty="tid">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="tTopic != null">
        t_topic,
      </if>
      <if test="tDate != null">
        t_date,
      </if>
      <if test="tUid != null">
        t_uid,
      </if>
      <if test="tPartake != null">
        t_partake,
      </if>
      <if test="tVisit != null">
        t_visit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tTopic != null">
        #{tTopic,jdbcType=VARCHAR},
      </if>
      <if test="tDate != null">
        #{tDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tUid != null">
        #{tUid,jdbcType=INTEGER},
      </if>
      <if test="tPartake != null">
        #{tPartake,jdbcType=INTEGER},
      </if>
      <if test="tVisit != null">
        #{tVisit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.springboot.blog.entity.Topic">
    update topic
    <set>
      <if test="tTopic != null">
        t_topic = #{tTopic,jdbcType=VARCHAR},
      </if>
      <if test="tDate != null">
        t_date = #{tDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tUid != null">
        t_uid = #{tUid,jdbcType=INTEGER},
      </if>
      <if test="tPartake != null">
        t_partake = #{tPartake,jdbcType=INTEGER},
      </if>
      <if test="tVisit != null">
        t_visit = #{tVisit,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springboot.blog.entity.Topic">
    update topic
    set t_topic = #{tTopic,jdbcType=VARCHAR},
      t_date = #{tDate,jdbcType=TIMESTAMP},
      t_uid = #{tUid,jdbcType=INTEGER},
      t_partake = #{tPartake,jdbcType=INTEGER},
      t_visit = #{tVisit,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>